$main-font: 'Century Gothic'
$title-font: 'Consolas'
$bg-color: #222
$other-bg-color: #2E2E2E
$font-color: #eee
$accent-1: #EDD4BB
$accent-2: #BBD4ED

*::-webkit-scrollbar
  width: 1em
  background-color: $other-bg-color

*::-webkit-scrollbar-thumb
  background-color: $accent-1

*::-webkit-scrollbar-thumb
  border-radius: 1em 0 0 1em

#awards::-webkit-scrollbar, #awards::-webkit-scrollbar-thumb
  border-radius: 0 0 1em 1em


html, body
  height: calc(100% - 1em)
  align-items: center
  background-color: $bg-color
  color: $font-color
  font-family: $title-font

main, header
  width: calc(100% - 2em)
  max-width: 800px

main
  margin-top: 5em

header
  max-width: 600px
  z-index: 20
  position: fixed
  justify-content: space-between
  align-items: center
  height: 3em
  background-color: $other-bg-color
  border-radius: 1.5em

header a
  text-decoration: none

header > *
  margin-left: 1em
  margin-right: 1em

#icons-wrapper a
  max-height: 32px

h2
  color: $accent-1

h3
  color: $accent-2

h2, h3
  margin: 0
  margin-top: 1em

a
  color: $font-color

.flex
  display: flex
  flex-flow: row

.flex.col
  flex-flow: column

img
  width: 100%
  border-radius: 1em

#awards
  overflow-x: auto
  height: calc(100vh - 8em)
  border-radius: 1em

#awards img
  width: auto
  border-radius: 0

@media screen and ( max-width: 640px )
  header
    bottom: 1em

  main
    margin-top: 0
    padding-bottom: 4em
  
  #awards
    margin-top: 1em

@media screen and ( min-width: 640px )
  header
    top: 1em
